.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5em;
}

.logo {
	width: 500px;
}

.homeTitleDesc {
	display: flex;
	flex-direction: column;
	gap: 0;
	width: 60%;
}

.homeTitle {
	color: #82b14c;
	font-size: 50px;
	font-weight: 300;
}

.homeDescription {
	color: #4e6b2d;
	font-size: 18px;
	font-weight: 300;
}

.homeButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #82b14c;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	padding: 1em;
	border-radius: 8px;
	border: 2px solid #82b14c;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	outline: none;
	width: fit-content;
	margin-top: 1em;
}

.homeButtonIcon {
	width: 16px;
	height: 16px;
	margin-right: 0.5em;
}

.homeButton:hover {
	color: white;
	background-color: #82b14c;
}
