.container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.form {
	width: 60%;
	padding: 2em;
}

.result {
	width: 40%;
}

.nameDateInput,
.hltInput,
.mvcInput,
.diftelInput,
.kaliumInput {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1.5em 0;
	max-width: 100%;
}

.nameDateInput > div {
	width: 48%;
}

.hltInput > div,
.mvcInput > div,
.kaliumInput > div {
	width: 32%;
}

.diftelInput > div {
	width: 15%;
}

.inputContainer {
	display: flex;
	flex-direction: column;
}

.label {
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

.input {
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 1em;
}
